<a class="round-card-link" href="{{ round.url }}">
  <div class="round-card">
    <p class="round-number">Round {{ round.round }}</p>
    <ul class="round-info-list">
      <li *ngIf="round.FirstPractice" class="round-date days">
        <p>{{ getDays(round) }}</p>
      </li>
      <li *ngIf="round.FirstPractice" class="round-date month">
        <p>{{ getMonth(round) }}</p>
      </li>
      <li class="flag">
        <img class="flag-img" src="{{ round.flagUrl }}" alt="" />
      </li>
      <li class="country">
        <p>{{ round.Circuit.Location.country }}</p>
      </li>
      <li class="race-name">
        <p>{{ round.raceName }}</p>
      </li>
      <li *ngIf="round.Qualifying?.date" class="quali">
        <p>
          <span class="font-bold">Qualifying: </span>
          {{ round.Qualifying.date.slice(5).split("-").reverse().join(".")
          }}<span *ngIf="round.Qualifying.time"
            >, {{ round.Qualifying.time.slice(0, 5) }}
          </span>
        </p>
      </li>
      <li class="race">
        <p>
          <span class="font-bold">Race: </span>
          {{ round.date.slice(5).split("-").reverse().join(".")
          }}<span *ngIf="round.time">, {{ round.time?.slice(0, 5) }} </span>
        </p>
      </li>
    </ul>
  </div>
</a>
