.header {
  background: var(--main-red-color);
  margin-bottom: 4rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 16rem;
}

.nav-list {
  display: flex;
  list-style: none;
  font-size: 2.4rem;
}

.nav-link:link,
.nav-link:visited {
  padding: 0 2rem;
  display: block;
  line-height: 3;
  text-decoration: none;
  color: #fff;
  transition: all 0.2s;
}
.nav-link:hover,
.nav-link:active {
  background-color: var(--main-dark-color);
}
