div {
  display: flex;
  flex-direction: column;
  margin: 30vh auto;
  align-items: center;
  color: var(--main-red-color);
}

h2 {
  font-size: 6rem;
  margin-bottom: 1rem;
}
p {
  font-size: 2rem;
}
